<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("headers"))
    {
        @RenderSection("headers");
    }
</head>
<body style="background-color:#2E363F">   
    <div style="height:100%;">
        @RenderBody()   
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")       
        @RenderSection("scripts", required: false)
</body>
@if (IsSectionDefined("footers"))
{
    @RenderSection("footers");
}
</html>
